* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
}

nav a {
  font-size: 1.4em;
}

nav {
}

p {
  font-family: "Roboto", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.959);
  box-shadow: 0 1px 2px #efefef;
  z-index: 9999;
  box-shadow: 0 4px 6px -6px black;
  padding-top: 20px;
  display: block;
}

/* PUBLICIDADES */
.publicidad-horizontal {
  margin: 40px 0;
}

.publicidad-vertical {
  position: absolute;
  top: 20%;
  right: 2%;
  display: none;
}

.publicidad-tercio img {
  display: none;
}

@media only screen and (min-width: 1690px) {
  .publicidad-vertical {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .publicidad-horizontal img {
    width: 300px;
  }

  .publicidad-horizontal {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .publicidad-tercio img {
    display: block;
  }
}
/* NAVBAR */
.navbar {
  padding: 10px;
}

.navbar-brand {
  font-size: 30px;
}

/* SECCION INICIO */
.inicio {
  padding-top: 170px;
  background-color: #242424;
  text-align: center;
  margin-bottom: 0;
  z-index: 2;
  position: relative;
}

.inicio h1 {
  font-size: 80px;
}
@media only screen and (max-width: 480px) {
  .inicio {
    padding: 0px 10px;
  }

  .inicio h1 {
    padding-top: 120px;
    font-size: 4rem;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }
}

.custom-shape-divider-top-1627581569 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1627581569 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 133px;
}

.custom-shape-divider-top-1627581569 .shape-fill {
  fill: #242424;
}
/* SECCION QUE SON */

.section-que {
  position: relative;
}

.section-que img {
  width: 400px;
}

h2 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 15%;
}

.section-que p {
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
}

@media only screen and (max-width: 1000px) {
  .section-que h2 {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 3rem;
  }
}

.que-son {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .que-son {
    flex-direction: column;
  }

  .que-son p {
    padding-left: 0;
  }

  .que-son img {
    width: 30%;
  }
}

/* SECCION COMO SE GUARDAN */

.section-guardan h2 {
  margin-top: 5%;
}

.como-guardar img {
  width: 1000px;
  margin-top: 30px;
  margin-bottom: 9%;
}

.como-guardar p {
  /*position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);*/
  color: #000;
  width: 100%;
  max-width: 700px;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 3px;
}

@media only screen and (max-width: 1024px) {
  .como-guardar img {
    width: 700px;
  }

  .como-guardar p {
    width: 70%;
    font-size: 23px;
  }
}

@media only screen and (max-width: 768px) {
  .como-guardar img {
    width: 600px;
  }

  .como-guardar p {
    width: 70%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 630px) {
  .como-guardar p {
    font-size: 0.2rem;
    width: 400px;

    overflow-wrap: break-word;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 480px) {
  .como-guardar p {
    width: 270px;
    overflow-wrap: break-word;
    overflow-x: hidden;
  }
}

/* SECCION POPULARES */

.custom-shape-divider-bottom-1627586837 {
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627586837 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 133px;
  z-index: -99;
}

.custom-shape-divider-bottom-1627586837 .shape-fill {
  fill: #242424;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1627586837 svg {
    width: 100%;
    height: 92px;
  }
}
.monedas-populares {
  background-color: #242424;
  padding-bottom: 3%;
  margin-top: -5px;
}

.monedas-populares h2 {
  margin: 0;
  padding-top: 1%;
  color: #fff;
}

.moneda {
  color: #fff;
  text-align: center;
  margin-top: 2%;
}

div.moneda.col-sm {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 1090px) {
  .moneda img {
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .moneda img {
    width: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .moneda img {
    width: 190px;
    margin-bottom: 40px;
  }

  .lista-monedas {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .moneda img {
    width: 200q px;
    margin-bottom: 40px;
  }
}

/* SECCION CONTACTO */

.custom-shape-divider-top-1627591897 svg {
  position: relative;
  display: block;
  width: calc(100%);
  height: 133px;
}

.custom-shape-divider-top-1627591897 .shape-fill {
  fill: #242424;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top-1627591897 svg {
    width: calc(100% + 1.3px);
    height: 86px;
  }
}
form div {
  margin-bottom: 15px;
}

.contacto h2 {
  margin-top: 0;
}

.btn-enviar {
  margin: 20px 0;
  padding: 10px 40px;
  font-size: 22px;
  border-radius: 200px;
}

@media only screen and (max-width: 480px) {
  .btn-enviar {
    padding: 8px 20px;
    font-size: 17px;
  }
}

/* SECCION FOOTER */
footer {
  height: auto;
  background-color: #242424;
  color: #fff;
  padding: 20px 35px;
}

footer ul {
  margin-bottom: 20px;
}

.footer-links a:link,
.footer-links a:visited {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

@media only screen and (max-width: 500px) {
  .footer-links a:link,
  .footer-links a:visited {
    font-size: 14px;
  }

  .footer-links {
    flex-direction: column;
  }

  footer p {
    font-size: 12px;
  }
}
