* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
}

nav a {
  font-size: 1.4em;
}

nav {
  z-index: 999;
}

p {
  font-family: "Roboto", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.959);
  box-shadow: 0 1px 2px #efefef;
  z-index: 9999;
  box-shadow: 0 4px 6px -6px black;
}

/* NAVBAR */
.navbar {
  padding: 10px;
}

/* SECCION INICIO */
.inicio {
  padding-top: 170px;
  background-color: #242424;
  text-align: center;
  margin-bottom: 0;
  z-index: 2;
  position: relative;
}

.inicio h1 {
  font-size: 80px;
}
@media only screen and (max-width: 480px) {
  .inicio {
    padding: 0px 10px;
  }

  .inicio h1 {
    padding-top: 10px;
  }
}

.custom-shape-divider-top-1627581569 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1627581569 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 133px;
}

.custom-shape-divider-top-1627581569 .shape-fill {
  fill: #242424;
}
/* SECCION QUE SON */

.section-que {
  position: relative;
}

.section-que img {
  width: 400px;
}

h2 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 15%;
}

.section-que p {
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
}

/* SECCION COMO SE GUARDAN */

.section-guardan h2 {
  margin-top: 5%;
}

.como-guardar {
  position: relative;
}

.como-guardar img {
  width: 1000px;
  margin-top: 30px;
}

.como-guardar p {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #fff;
  width: 700px;
  font-weight: 400;
}

.custom-shape-divider-bottom-1627586837 {
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627586837 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 133px;
}

.custom-shape-divider-bottom-1627586837 .shape-fill {
  fill: #242424;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1627586837 svg {
    width: calc(100% + 1.3px);
    height: 92px;
  }
}
/* SECCION POPULARES */

.monedas-populares {
  background-color: #242424;
}
.monedas-populares h2 {
  margin: 2% 0 0 0;
  color: #fff;
}
/* SECCION CONTACTO */
form div {
  margin-bottom: 15px;
}

/* SECCION FOOTER */
footer {
  height: auto;
  background-color: #000;
  color: #fff;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer ul {
  margin-bottom: 20px;
}

.footer-links a:link,
.footer-links a:visited {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer p {
  display: block;
}

@media only screen and (max-width: 500px) {
  .footer-links a:link,
  .footer-links a:visited {
    font-size: 14px;
  }

  .footer-links {
    flex-direction: column;
  }

  footer p {
    font-size: 12px;
  }
}
